<app-navbar></app-navbar>
<link rel="stylesheet" href="https://bootswatch.com/3/superhero/bootstrap.min.css">
<div class="container">
    <router-outlet></router-outlet>
</div>
<hr>
<footer style="height:170px; color:#666666;"   >
   <div class="row">
         <div class="col-md-3">
                   <div class="text-center">
                          <h4><strong>THE BASICS</strong></h4>
                          <p><strong>About MF</strong></p>
                          <p><strong>Contact us</strong></p>
                          <p><strong>Support Forums</strong> </p>
                          
                   </div>
         </div>

         <div class="col-md-3">
                  <div class="text-center">
                      <h4><strong>GET INVOLVED</strong></h4>
                      <p><strong>Contribution Bible</strong></p>
                      <p><strong>Add New Movie</strong></p>
                      <p><strong>Add New TV Show</strong> </p>
                      <p><strong></strong> </p>
                  </div>
         </div>
        
         <div class="col-md-3">
                   <div class="text-center">
                      <h4><strong>COMMUNITY</strong></h4>
                      <p><strong>Guidelines</strong></p>
                      <p><strong>Forums</strong> </p>
                      <p><strong>Twitter</strong></p>
                      <p><strong>Facebook</strong> </p>
                      <p><strong></strong> </p>
                   </div>
         </div>
      
         <div class="col-md-3">
                  <div class="text-center">
                     <h4><strong>LEGAL</strong></h4>
                     <p><strong>Terms of Use</strong></p>
                     <p><strong>Privacy Policy</strong></p>
            </div>
        </div>

   </div>
   <p><strong></strong> </p>
   <p class="text-center"> &copy; {{title}} - Powered by <a href="http://themoviedb.org" target="_blank" >Movie Finder</a> </p> 
</footer>

